* {
	margin:0;
	padding: 0;
}

body {
	background-color:rgba(201, 196, 196, 0.6);
	font-family: 'Open Sans', sans-serif;
}
.topbar{
	width: 100%;
	height: 50px;
	background-color:#37a8a8;
}

.topbar h1 {
	color:white;
	display: inline-block;
	margin-left:10px;
	margin-top:5px;
	
}

.topbar a{
	text-decoration: none;
	color:white;
	font-size:16px;
	display: inline-block;
	margin-left: 900px;
}
.content {
	text-align: center;
	margin-top:20px;
}
.makeapp, .comingapp {
	width: 30%;
	height: 500px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 6px 6px 5px rgb(138, 137, 137);
	display: inline-block;
	vertical-align: top;
	margin:20px;
	padding: 20px;
}

.makeapp h3{
	font-size: 20px;
	color:#37a8a8;
}

.makeapp span{
	margin-top:5px;
	display: block;
	width:100%;
	height:1px;
	background-color:rgb(138, 134, 134);
}

.makeapp th,td {
	border-bottom:1px solid rgb(138, 134, 134);
	padding:10px 44px;
}

.makeapp table button {
	background-color:#23b35f;
	border-radius: 5px;
	padding: 10px 10px;
	text-align: center;
	border:none;
	color:white;
	text-decoration: none;
}

