<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../static/beta/css/userpage/style.css" type="text/css"/>
</head>

<body>
<div class='topbar'>
	<h1>Welcome to ApPoints</h1>
	<a href="loginpage.html">Logout</a>
</div>

<div class="content">
	<div class="makeapp">
		<h3>Make Appointment(Dr. Admin's schedule)</h3>
		<span> </span>

		<table>
			<tr>
				<th>From</th>
				<th>To</th>
				<th></th>
			</tr>
			<tr>
				<td>date</td>
				<td>date</td>
				<td><Button>Appoint</Button></td>
			</tr>

			<tr>
					<td>date</td>
					<td>date</td>
					<td><Button>Appoint</Button></td>
			</tr>

			<tr>
					<td>date</td>
					<td>date</td>
					<td><Button>Appoint</Button></td>
			</tr>
		</table>

		

	</div>

	<div class="comingapp">
		<h3>Upcoming Appointments</h3>
		<span> </span>

		<table>
			<tr>
				<th>Subject</th>
				<th>From</th>
				<th>To</th>
				<th>Status</th>
			</tr>
			<tr>
				<td>date</td>
				<td>date</td>
				<td><Button>Appoint</Button></td>
			</tr>

			<tr>
					<td>date</td>
					<td>date</td>
					<td><Button>Appoint</Button></td>
			</tr>

			<tr>
					<td>date</td>
					<td>date</td>
					<td><Button>Appoint</Button></td>
			</tr>
		</table>
	
	</div>


</div>
</body>

</html>